<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=divece-wid th, initial-scale=1">
  <!--iconos-->
  <link  href="/css/header.css"  rel="stylesheet">  
  <link  href="/css/footer.css"  rel="stylesheet">
  <link  href="/css/register.css"  rel="stylesheet">
  <title>login</title>
</head>
<body>
  <form id="nombre">
    <input type="text" name="nombre-usuario" placeholder="nombre de usuario">
    <input type="password" name="contraseña-usuario" placeholder="contraseña">
  </form>
  <form action="http://localhost:1000/">
    <input type="submit" value="Pagina Principal" />
  </form>
</body>
</html>

<!--
<p>
  <button type="submit">enviar </button>
  <button type="menu">menu</button>
  <button type="reset">restart</button>
</p>-->

"test": "nodemon mercado.js"  mover de lugar