<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet" >
  <title>Document</title>
</head>
<body>
  <form id="nombre">
    <input type="text" name="nombre-usuario" placeholder="nombre de usuario">
    <input type="password" name="contraseña-usuario" placeholder="contraseña">
  </form>
  <form action="http://localhost:1000/">
    <input type="submit" value="Pagina Principal" />
  </form>
</body>
</html>

<!--
<p>
  <button type="submit">enviar </button>
  <button type="menu">menu</button>
  <button type="reset">restart</button>
</p>-->

"test": "nodemon mercado.js"  mover de lugar