  .menu-dos{
        position: relative;
        display: contents;  

    }
    .menu-uno{
        position: relative;
        display: contents;
        grid-template-columns: 150px 150px 150px ;
    }









    .menu-dos{
        position: relative;
        display: contents;  

    }
    .menu-uno{
        position: relative;
        display: contents;
    }