* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header {
    background-color:#EAC926;
    display: flex;
    flex-direction: column;
}



.imagen-prin { /*Modifico donde se encuntra el mp*/
    width: 35vw;
    display: flex;
    justify-content: center;
    
}

.logo-mp { /*Modifico SOLO EL LOGO de mp*/
    width:35vw;
}

.cuotas {
    padding: 25px;
}




.menues { /*Muevo todo lo rojo*/
    /*background-color: red; /Si te perdes activa esto*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.menu-uno { /*Menu pink*/
    /*background-color:pink ; /Si te perdes activa esto*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95px;
    
}

.menu-dos { /*Menu aqua*/
    /*background-color: aqua; /Si te perdes activa esto*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    width: 130px;
    padding-top: 20px;   
}

.fa-bars{ /*BURGER*/
    font-size: 40px;
    color: white;
    background-color: #1259c3;
    padding:15px;
    /*border: 4px solid black ;*/
    border-radius: 15%;
}

.barcs{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 25px 0px 25px;
} 

#busqueda { /**/
    display: flex;
    justify-content: center;
    width:45vw;
}
/*todos los media son hereditario*/
.menues {
    display: none;
}

@media (min-width:768px) { /*MEDIDA TABLET*/
    header {
        background-color: green;
    }
    .barcs {
        display: none;
    }
    .menues{
        display: block;
        display: list-item;
        
    }
    form i{
        display: block;
        background-color: blueviolet;
    }
}

@media (min-width:1200px) { /*Media desktop + notbook*/
    header{
        background-color: yellow;
    }
    .menues {
      display: flex;
      padding-top: 150px;
      font-style: italic;
    }
    .menu-uno{
        max-width: 80%;
        width: 30%;
        display: flex;
    }
    .menu-dos{
        max-width: 100%;
        width: 30%;
        display: flex;
    
    }
}






