* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header {
    background-color:#EAC926;
    display: flex;
    flex-direction: column;
}



.imagen-prin { /*Modifico donde se encuntra el mp*/
    width: 35vw;
    display: flex;
    justify-content: center;
}

.imagen-prin a{
    display: flex;
    justify-content: center;
}

.logo-mp { /*Modifico SOLO EL LOGO de mp*/
    width:35vw;
}

.cuotas {
    padding: 25px;
}

.menues a:hover{ /*le doy color a los links cuando paso con el mouse*/
    color: #236cd8;
}


.menues { /*Muevo todo lo rojo*/
    /*background-color: red; /Si te perdes activa esto*/
  display: none;
}

.menues a{
    color:black;
}


.fa-bars{ /*BURGER*/
    font-size: 40px;
    color: white;
    background-color: #0043a8;
    padding:15px;
    /*border: 4px solid black ;*/
    border-radius: 15%;
}

.barcs{ /*HAMBURGERRRRRRRR*/
    display: flex;
    justify-content: center;
    padding: 15px;
}

#header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 25px 0px 25px;
} 

#busqueda { 
    display: flex;
    justify-content: center;
    width:100%;
    padding: 5px 0px;   
}

#busqueda button{
    background-color: snow;
    border: none;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#busqueda input{
    border:none;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

/*todos los media son hereditario*/
.menues {
    display: none;
}



/* AQUI SE ENCUENTRA LAS MEDIA*/



@media (min-width:768px) { /*MEDIDA TABLET*/
    header {
        background-color: #EAC926;
    }
    .barcs {
        display: none;
    }

    #header-top {
        background-color: #EAC926;
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;

    }
     
    .menues{
        display:flex;
        padding: 15px 15px 15px;
        font-size: 15px;
    }

    .menu-uno {
        flex-grow: 1;
        display:flex;
        gap:1rem
    }

    .menu-dos{
        display:flex;
        flex-grow: 1;
        gap:1rem;
        justify-content: end;
    }

    .logo-mp{
        width: 70%;
    }

    #busqueda{
        width: auto;
        align-self: center;
    }

    #busqueda input{  
        border-color: none;
    }
}

@media (min-width:1200px) { /*Media desktop + notbook*/
    header{
        
    }
    .menues {
     
    }
    .menu-uno{
       
    }
    .menu-dos{
        justify-content: end;

    }
}






