#ingreso{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap:16px;
    background-color: #ebebeb;
    height: 35vh;
    padding-top: 45px;
    
}



#ingreso input{
    flex: 0 0 100%;
    padding: 4px 16px;
    border-radius: 8px; 
    border:none;
    border-bottom: 1px solid grey ; /*esto lo hace edu*/
    padding: 15px;

}

#ingreso button{
    flex:1 0 auto;
    padding: 5px 16px;
    border-radius: 8px;
    border: 1px solid grey ;
}



/*VIEJO CSS*/

