
main{
  
    justify-content: center;
    display: flex;
}




#ingreso{
    display: flex;
    flex-direction: column;
    width: 100vw; /*tamaño del formulario*/ 
    padding: 4vw;
    background-color: #ebebeb;
}



#ingreso input{
    padding: 10px;
    margin:15px;
    border-radius: 15px 15px 15px 15px;
    border: 1px grey solid;
    
}

.botonera{
    display: flex;
    background-color: #ebebeb;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0px 0px 10px 0px;

}

.botonera button{
    height: 40px;
    width: 100px;
    border: solid grey 1px;
    border-radius: 15px 15px 15px 15px;
}

footer{
    padding: 10px;
    list-style: none;
}