
main{
    background-color: #ebebeb;
    justify-content: center;
    display: flex;
}

#registro{
    display: flex;
    flex-direction: column;
    width: 100vw; /*tamaño del formulario*/ 
    padding: 4vw;
    
}

#radio {
    display:flex;
    justify-content: space-evenly;
}

#registro input{
    padding: 10px;
    margin:15px;
}

