h2{
    padding-top: 15px;
}

h3{
    font-size: 25px;
    padding: 25px 0px ;
}


main{
    background-color: #ebebeb;
    justify-content: center;
    display: flex;
}

#registro{
    display: flex;
    flex-direction: column;
    width: 100vw; /*tamaño del formulario*/ 
    padding: 4vw;
    
}

#radio {
    display:flex;
    justify-content: space-evenly;
}

#registro input{
    padding: 10px;
    margin:15px;
}

.boton-abajo{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
}

.boton-abajo button{    
    width: 100px;
}

.img-perfil{
    display: flex;
    justify-content: center;
}

.img-perfil span{
    width: 100%;
    font-size: 15px;
    padding-top: 25px;
}

.img-perfil input{
    width: 100%;
}