<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=divece-wid th, initial-scale=1">
    <!--iconos-->
    <link  href="/css/header.css"  rel="stylesheet">  
    <link  href="/css/footer.css"  rel="stylesheet">
    <link  href="/css/mainN.css"  rel="stylesheet">
    <title>Mercado liebre</title>
</head>
<body>
    <header> <!--COPIAR EL HEADER entero y pegarlo en el html del login y register-->
        <section id="header-top"> 
            <picture class="imagen-prin">
                    <a href="/" ><img class="logo-mp" src="/img/logo-mercado-liebre.svg"></a>
            </picture>
                <form id="busqueda">
                    <input type="search" placeholder="Buscar Productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>    
                </form>
                <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito </p>
        </section>
        <section class="menues">
            <nav class="menu-uno">
                <a class="ofertas" href="#">Ofertas </a>
                <a class="tiendas" href="#">Tiendas oficial</a>
                <a class="vender" href="#">Vender</a>
                <a class="ayudas" href="#">Ayuda</a>
            </nav>
            <nav class="menu-dos">
                <a class="crear-cuenta" href="/registro">Crea tu ceunta<i class="fa-solid fa-address-card"></i></a>
                <a class="ingresa" href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <a class="compras" href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a> 
            </nav>
        </section>
        <div class="barcs">
           <i class="fa-solid fa-bars"></i>
        </div>   
    </header>
    
    <main> <!--ACA EMPIEZA LA MAGIA-->
        <picture class="img-banner">
            <img src="/img/img-home-banner.jpg">   
        </picture>
        <section>
            <h1>Seccion: Basado en tu ultima visita</h1>
            <ul class="productos">
                <li>
                    <picture id="foto-cafe">
                        <img class="img-cafe" src="/img/cafetera.jpg.jpg">
                    </picture>
                    <article class="caja">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">6.700 <span class="descuento">40% OFF</span></p>
                            <p class="modelo-caf">cafeteria</p>
                    </article>
                </li>
                <li>
                    <picture id="foto-mac">
                        <img class="img-mac" src="/img/img-macbook-pro-2019.jpg">    
                    </picture>
                    <article class="caja">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-mac">230.000<span> 20% Off</span></p>
                            <p class="modelo-mac">MacBook Pro 2019</p>
                    </article>                            
                </li>
                <li>
                    <picture id="foto-celular">
                        <img  class ="img-cel" src="/img/img-samsung-galaxy-s10.jpg">
                    </picture>
                    <article class="caja">                   
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-sam">70.500<span> 10% Off</span></p>
                            <p class="modelo-sam">Samsung Galaxy S10</p>
                    </article>
                </li>
                <li>
                    <picture id="foto-tv">
                        <img class="img-tv" src="/img/img-tv-samsung-smart.jpg">
                    </picture>
                    <article class="caja">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-tv">70.500<span> 10% Off</span></p>
                            <p class="modelo-tv">SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </section>
        <!--REPETICION DEL TEXTO-->
        <section>
            <h2>Ofertas, basado en tus ultimas visistas</h2>
            <ul class="productos">
                <li>
                    <picture id="foto-cafe">
                        <img class="img-cafe" src="/img/cafetera.jpg.jpg"></a>
                    </picture>
                    <article class="caja">
                            <a><i class="fa-solid fa-truck"></i></a>
                            <p class="precio">6.700 <span class="descuento">40% OFF</span></p>
                            <p class="modelo-caf">cafeteria</p>
                    </article>
                </li>
                <li>
                    <picture id="foto-mac">
                        <img class="img-mac" src="/img/img-macbook-pro-2019.jpg">    
                    </picture>
                    <article class="caja">
                            <a><i class="fa-solid fa-truck"></i></a>
                            <p class="precio-mac">230.000<span> 20% Off</span></p>
                            <p class="modelo-mac">MacBook Pro 2019</p>
                    </article>                            
                </li>
                <li>
                    <picture id="foto-celular">
                        <img  class ="img-cel" src="/img/img-samsung-galaxy-s10.jpg">
                    </picture>
                    <article class="caja">
                             <a><i class="fa-solid fa-truck"></i></a>
                            <p class="precio-sam">70.500<span> 10% Off</span></p>
                            <p class="modelo-sam">Samsung Galaxy S10</p> 
                    </article>
                </li>
                <li>
                    <picture id="foto-tv">
                        <img class="img-tv" src="/img/img-tv-samsung-smart.jpg">
                    </picture>
                    <article class="caja">
                            <a><i class="fa-solid fa-truck"></i></a>
                            <p class="precio-tv">70.500<span> 10% Off</span></p>
                            <p class="modelo-tv">SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </section>
    </main>
    <footer> 
            <ul>
                <li class="texto-eft">
                    <i class="fa-solid fa-credit-card"></i>
                    <h2>Paga con tarjeta o efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>  
                </li>
                <li class="texto-envios">
                    <i class="fa-solid fa-gift"></i>
                    <h3 class="titulo-envios">Envio gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado puntos </p>
                </li>
                <li class="texto-seg">    
                    <i class="fa-solid fa-user-shield"></i>
                    <h4 class="titulo-segu">Seguridad, de principio a fin</h4> 
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </li> 
            </ul>
            <h5> copyright © 1999-2020 MercadoLiebre S.R.L.</h5>      
    </footer>
</body>
</html>